<div class="homepage">
  <div class="homepage__splash">
    <div class="l-container">
      <h1 class="homepage__splash-heading">Free and Open Source training materials for teaching and learning Drupal</h1>

      <div class="homepage__splash-ctas">
        <a class="homepage__splash-cta-1 button button--light" href="/pages/lessons.html">Lessons</a>
        <a class="homepage__splash-cta-2 button button--light" href="/pages/drupal_training_programmes.html">Training Programmes</a>
      </div>
    </div>
  </div>

  <div class="homepage__secondary">
    <div class="l-container">
      <p class="homepage__secondary-intro"><strong>Open Drupal</strong> is a community initiative to make it easier to learn Drupal. We <strong>support training programmes</strong> and provide free and open source training material. We believe that the web development industry and wider community can <strong>benefit hugely</strong> from encouraging and collaborating on accessible ways to learn and start a career in web development.</p>

      <div class="get-involved">
        <ul class="medium-three-up">
          <li class="grid-item">
            <div class="get-involved__item"><strong>Contribute</strong> to the Open Drupal Curriculum</div>
          </li>
          <li class="grid-item">
            <div class="get-involved__item">Use and contribute to the lessons</div>
          </li>
          <li class="grid-item">
            <div class="get-involved__item">Find a training programme, or start your own</div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
