<div class="homepage">
  <div class="homepage__splash">
    <div class="l-container">
      <h1 class="homepage__splash-heading">Free and Open Source training materials for teaching and learning Drupal</h1>

      <p class="homepage__splash-intro">We are building an Open Source curriculum. With cooperation from developers, educators and the community, we are creating high quality, free and Open Source training materials to make it easier to run effective Drupal training programmes.</p>

      <a class="homepage__splash-cta-1 button--primary" href="/pages/the_curriculum.html">View the curriculum</button>
      <a class="homepage__splash-cta-2 button--primary">View the lessons</button>
    </div>
  </div>

  <div class="l-container">
    <h3>Get involved</h3>
    <ul>
      <li><strong>Contribute</strong> to the Open Drupal Curriculum</li>
      <li>Use and extend the lessons</li>
      <li>Start your own training programme</li>
    </ul>

    <h3>The Community</h3>
    <ul>
      <li><a href="https://plus.google.com/communities/108420378799329411006">Google+ Community</a></li>
      <li><a href="http://groups.drupal.org/opendrupal">groups.drupal.org/opendrupal</a></li>
  </div>
</div>
