<div class="l-container lessons">

  <nav class="lessons__nav grid-item">
    <ul class="lessons__tabs tabs vertical" data-tab data-options="deep_linking:true">
      <% for(var slug in public.lessons._data){ %>
        <li class="tab-title<% if(slug === 'overview') { %> active<% } %>">
          <a href="#<%- slug  %>"><%= public.lessons._data[slug].title %></a>
        </li>
      <% }; %>
    </ul>
  </nav>

  <div class="lessons__content tabs-content grid-item">
    <% for(var slug in public.lessons._data){ %>
      <div class="lesson content<% if(slug === 'overview') { %> active<% } %>" id="<%- slug  %>">
        <%- partial(public.lessons._data[slug].filepath) %>
      </div>
    <% }; %>
  </div>

</div>
