  <footer class="footer l-container">
    <div class="footer__inner">
      <p><a href="https://github.com/opendrupal">Find us on GitHub</a></p>
    </div>
  </div>

  <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-4f5b704772f91b81"></script>

    <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>

    <script src="/js/foundation.js"></script>
    <script src="/js/foundation.tab.js"></script>

    <script>
      $(document).foundation();
    </script>
  </body>
</html>
