  <h1>Training Programmes We Support</h1>

  <p>Open Drupal aims to support low-cost, accessible training programmes which support the next generation of developers.</p>

  <h3>The UK Drupal Apprenticeship</h3>
  <p>Website: <a href="http://drupalapprentice.uk">http://drupalapprentice.uk</a></p>
  <p>Areas covered:</p>London - plans to launch in Leeds & Oxford (get in contact if you're interested in supporting this).


  <h3>Add yours here!</h3>
  <p>If you're already running a low-cost training programme, then please </p>

  <h3>How to set up a programme</h3>

  <p>Information coming soon!</p>
