  <h1>The Open Drupal Virtual Machine</h1>
  <p>A pre-configured virtual machine designed to get a professional, reliable development environment set up quickly.</p>
  <p><a href="https://github.com/OpenDrupal/open-drupal-vm">Read more here</a></p>
  <a href="http://opendrupal.org/files/open-drupal-vm-0.3.ova" class="button--primary">Download Now</a>
