<div class="curriculum">
  <div class="curriculum__intro">
  <p>The Open Drupal curriculum is a fully open source curriculum built by industry experts which outlines a set of knowledge and skills that underpin becoming an expert in web development and Drupal. It consists of several units which will each have aims, outcomes and assessment criteria.</p>
  <p>This curriculum has been used as the basis for an official government-backed UK apprenticeship qualification, equivalent to a UK foundation degree.</p>
  <p>The lessons and foundation course available through opendrupal.org are designed to be used to teach (or self-learn) this curriculum in full.</p>
  </div>
  <div class="curriculum__content">
  <!-- Import the Open Drupal curriculum markdown file -->
    <%- partial("../_opendrupal/_units/README.md") %>
  </div>
</div>
